/* Reset */
ul {
    padding: 0;
}

li {
    list-style: none;
}


.container {
    width: 100%;
}


/* Navbar */
.navbar {
    background: #FFF;
    position: fixed;
    z-index: 1;
    top: 0;
    padding: 1.5rem 0;
    width: 100%;
}

.contact-tag {
    font-size: 1.1rem;
    text-align: center;
}

.fa-circle {
    margin-right: 0.5rem;
    color: #00E676;
    font-size: 0.9rem;
}



/* Chat interface */
.chat-interface {
    margin: 50px auto 0;
    width: 500px;
    padding: 1rem;
    margin-bottom: 5rem;
    overflow: hidden;
}

.conv-wrapper {
    background: #FFF;
}

/* Speech bubbles */
.conv-wrapper ul {
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    color: #424242;
}

.user-speech,
.bot-speech {
    max-width: 150px;
    padding: 0.7rem 1rem;
    margin-bottom: 2rem;
    word-wrap: break-word;
}


.user-speech {
    background: #29B6F6;
    color: #FFF;
    border-radius: 20px 20px 0 20px;
        /* justify-self: right; */
        
        /* For IE or MS Edge */
        float: right;
        clear: both;

    animation: scale 0.3s ease-in;
    -webkit-animation: scale-right 0.3s ease-in;
}
@keyframes scale-right {
    0% {
        opacity: 0; 
        -webkit-transform: scale(0, 0); 
        -webkit-transform-origin: right bottom;
    }
    
    100% { 
        opacity: 1;
        -webkit-transform: scale(1, 1); 
        -webkit-transform-origin: right bottom;
    }
}


.bot-speech {
    background: #EEE;
    border-radius: 20px 20px 20px 0;
    /* justify-self: left; */

    /* For IE or MS Edge */
    float: left;
    clear: both;

    animation: scale 0.3s ease-in;
    -webkit-animation: scale-left 0.3s ease-in;
}
@keyframes scale-left {
    0% {
        opacity: 0; 
        -webkit-transform: scale(0, 0); 
        -webkit-transform-origin: left bottom;
    }
    
    100% { 
        opacity: 1;
        -webkit-transform: scale(1, 1); 
        -webkit-transform-origin: left bottom;
    }
}

/* Input field */
.input-wrapper {
    position: fixed;
    background: #FFF;
    margin-right: 1rem;
    bottom: 0;
    padding-bottom: 3rem;
    width: inherit;
}

.input-wrapper form input {
    width: 100%;    
    padding: 0.8rem 0;
    margin-top: 1rem;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    font-size: 1rem;
}

.input-wrapper form input:focus {
    outline: none;
    border-color: #03A9F4;
}



/* Media query */

/* 600px */
@media (max-width: 600px) {
    .chat-interface {
        width: 80%;
    }
}